## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Touros,BR,-5.1989,-35.4608,79.70,77,57,12.01,broken clouds
1,1,Katobu,ID,-4.9408,122.5276,87.31,65,78,2.55,broken clouds
2,2,San Nicolas,PH,18.1725,120.5953,79.95,68,100,12.12,overcast clouds
3,3,Barrow,US,71.2906,-156.7887,-2.18,71,90,8.05,overcast clouds
4,4,Cascais,PT,38.6979,-9.4215,52.05,65,97,1.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Touros,BR,-5.1989,-35.4608,79.70,77,57,12.01,broken clouds
1,1,Katobu,ID,-4.9408,122.5276,87.31,65,78,2.55,broken clouds
2,2,San Nicolas,PH,18.1725,120.5953,79.95,68,100,12.12,overcast clouds
12,12,Rikitea,PF,-23.1203,-134.9692,77.50,74,100,12.33,light rain
13,13,Yarada,IN,17.6500,83.2667,79.12,47,5,4.61,haze
15,15,Boyolangu,ID,-8.1181,111.8935,88.81,63,89,1.57,overcast clouds
17,17,Vaini,TO,-21.2000,-175.2000,84.36,89,20,10.36,few clouds
18,18,Saint-Joseph,RE,-21.3667,55.6167,83.10,69,57,4.68,broken clouds
19,19,Soyo,AO,-6.1349,12.3689,76.59,91,100,6.17,overcast clouds
28,28,Port Blair,IN,11.6667,92.7500,83.50,67,86,12.71,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                174
City                   174
Country                174
Lat                    174
Lng                    174
Max Temp               174
Humidity               174
Cloudiness             174
Wind Speed             174
Current Description    174
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(axis =0)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Touros,BR,-5.1989,-35.4608,79.70,77,57,12.01,broken clouds
1,1,Katobu,ID,-4.9408,122.5276,87.31,65,78,2.55,broken clouds
2,2,San Nicolas,PH,18.1725,120.5953,79.95,68,100,12.12,overcast clouds
12,12,Rikitea,PF,-23.1203,-134.9692,77.50,74,100,12.33,light rain
13,13,Yarada,IN,17.6500,83.2667,79.12,47,5,4.61,haze
...,...,...,...,...,...,...,...,...,...,...
671,671,Nha Trang,VN,12.2500,109.1833,75.20,77,100,11.72,overcast clouds
673,673,Vavuniya,LK,8.7514,80.4971,81.77,62,99,6.87,overcast clouds
675,675,Cukai,MY,4.2500,103.4167,77.14,93,100,5.30,overcast clouds
680,680,El Vigia,VE,8.6219,-71.6506,75.00,91,89,1.57,overcast clouds
681,681,Pundaguitan,PH,6.3711,126.1689,83.30,76,31,10.09,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Touros,BR,79.70,broken clouds,-5.1989,-35.4608,
1,Katobu,ID,87.31,broken clouds,-4.9408,122.5276,
2,San Nicolas,PH,79.95,overcast clouds,18.1725,120.5953,
12,Rikitea,PF,77.50,light rain,-23.1203,-134.9692,
13,Yarada,IN,79.12,haze,17.6500,83.2667,
15,Boyolangu,ID,88.81,overcast clouds,-8.1181,111.8935,
17,Vaini,TO,84.36,few clouds,-21.2000,-175.2000,
18,Saint-Joseph,RE,83.10,broken clouds,-21.3667,55.6167,
19,Soyo,AO,76.59,overcast clouds,-6.1349,12.3689,
28,Port Blair,IN,83.50,overcast clouds,11.6667,92.7500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
       # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.notnull().sum()

City                   174
Country                174
Max Temp               174
Current Description    174
Lat                    174
Lng                    174
Hotel Name             174
dtype: int64

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(axis =0)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Touros,BR,79.70,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
1,Katobu,ID,87.31,broken clouds,-4.9408,122.5276,La Ode Husein
2,San Nicolas,PH,79.95,overcast clouds,18.1725,120.5953,NORTHVIEW Hotel
12,Rikitea,PF,77.50,light rain,-23.1203,-134.9692,People ThankYou
13,Yarada,IN,79.12,haze,17.6500,83.2667,Yarada Jungle Beach Resorts
...,...,...,...,...,...,...,...
671,Nha Trang,VN,75.20,overcast clouds,12.2500,109.1833,Sheraton Nha Trang Hotel & Spa
673,Vavuniya,LK,81.77,overcast clouds,8.7514,80.4971,Thampa Hotel
675,Cukai,MY,77.14,overcast clouds,4.2500,103.4167,OYO 90038 Dalyla Inn Chalet
680,El Vigia,VE,75.00,overcast clouds,8.6219,-71.6506,Liceo Bolivariano 19 De Abril
681,Pundaguitan,PH,83.30,scattered clouds,6.3711,126.1689,Leonardo Family Beach House 1

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))